/* all pages/navigation*/
body{font-family:Arial, Helvetica, sans-serif;margin:0%;}
.heady{display:flex;justify-content: space-around;align-items: baseline;flex-wrap: wrap;margin-right: 40%;}
.logo{flex:1;padding:10px;}
.navy{flex:1; margin-left: 1%;}
header{background-color: #66bbbd;}
nav{background-color:#66bbbd;padding: 10px;font-size:200%;}
nav a{font-family: 'Oswald', sans-serif;padding:10px;}
nav a:hover{background-color: aliceblue;padding:10px;color:black;}
a:link,a:visited{text-decoration: none;color:black;}
@media only screen and (max-width:900px){.logo{order:1;} .navy{order:2;} .heady{margin-right:0%;}}

/* Store Gallery*/
.gallery{display:flex;flex-wrap: wrap;}
.item{flex:1;border:2px solid #999999;margin:2%;background-color: white;padding:10px;text-align: center;min-width: 200px;}
.galimg{max-width: 60%;}
.galimg2{max-width: 65%;}
.titles{text-align: center;font-size: 200%;}
a.item:hover{background-color: #ebfcff;transform:scale(1.01,1.01)}
i{color:#5c5c5c;}


/* store page*/
.store{display:flex;flex-wrap: wrap;}
.storeinfo{flex:3;text-align: center;min-width: 300px;align-content: center; }
.storeinfo2{flex:2;padding: 20px;}
.copy{font-size:125%;}
.storeimg{max-width: 60%;background-color: #ebfcff;}
.storeimg2{max-width: 20%;}
.storeimg2:hover{transform:scale(1.1,1.1)}
input[type=number]{padding:10px;width:100%;}
select{padding:10px;font-size:150%;}
input{padding: 10px;font-size: 150%;}
input[type=number]::-webkit-inner-spin-button {opacity: 1;}
.button{background-color: #66bbbd;border:2px solid #66bbbd; border-radius:30px; padding: 15px;width:100%;}
.choosie{display:flex;justify-content: space-around;padding:5%}
.button:hover{background-color: #beeff7;border:2px solid #beeff7;transform: scale(1.1,1.1) }
.number{max-width: 50%;}
.formy{display:flex; justify-content: space-around;}
.formy2{margin-left: 8%;margin-right: 8%;}
.venmo{padding-top: 5%; padding-bottom: 5%;}
@media only screen and (max-width:900px){.storeimg{max-width: 100%;} .storeimg2{max-width: 25%;} .formy2{margin-left: 0%;}}

#skip{background-color: aquamarine; border: 2px solid black;padding:5px;position:absolute;left:-999px;}
#skip:focus{left:10px;}


/*home page*/
.tile{display:flex;align-items: center; flex-wrap: wrap;background-color: white;}
.tileimg{max-width: 70%;}
.left, .left2{flex:55%;align-content: center;align-items: center;text-align: center;}
.right, .right2{flex:45%;text-align: center;}
.motto{font-size:400%;text-align: center;padding:2%;}
#about{padding:2%;background-color: #aa4aff;}
.instalogo{max-width:30%;}
.logomini{display:flex;align-content: center;align-items: center;text-align: center;}
.right2{min-width: 200px;}
#row3{background-color: #4affc6;}
#row2{background-color: #aa4aff;}
#row1{background-color: #ffcf4a;}




.rows{display:flex; border: solid 2px black;justify-content: space-around;}
.slidey{flex:1; border:solid 2px black;cursor: pointer;}
.slideimg{max-width:60%;}
.mySlides{max-width:100%;}



