body{background-color: #4E6C50;font-size: 125%;font-family: Arial, Helvetica, sans-serif;}
h1,h2{color:#F5EFE6;}
h1{font-size: 175%;}
h2{font-size: 150%;}
p, ul{color:#F5EFE6}
a{color:#395144}
nav{
    background-color: #E8Dfca;
    color:#7895B2; 
    padding: 10px;
    margin-bottom: 30px;
}
nav a:hover{color:#F5EFE6;
background-color: #395144;}
.motto{float:right;}
.banner{max-width: 100%;}

.address{display:flex; background-color:#F5EFE6;border-radius: 1em;margin:20px;}
.adpad,.questions,.map{padding: 20px;}
.forms{display:flex;background-color: #F5EFE6;border-radius: 1em;margin:20px;flex-wrap: wrap;}
.map{flex:2;order:2;}
.questions{flex:1;order:1;}
.person{color:black;padding-bottom: 0px;}
.question{padding:10px;}

h1{text-align: center;}
.desc{padding-bottom: 20px;}
.icons{display:flex;justify-content: space-around;color:#F5EFE6;}
aside{background-color: #395144;border-radius: 5px; padding:20px}
.box2{display:flex;}
.iconbox{flex:3;}
.otherskill{flex:1;color:#F5EFE6;}
.paddy{padding:20px;}
p{margin-right:25%}

#skip{background-color: aquamarine; border: 2px solid black;padding:5px;position:absolute;left:-999px;}
#skip:focus{left:10px;}

@media only screen and (max-width:1000px){nav a{display:block; padding:5px;}span{display:none}}